.article-detail{
    //justify-content: space-between;
    //height: 100%;
    //flex-grow: 1;
    //overflow: hidden;
    //display: flex;
}
.article-detail__title {
    font-size: 24px;
    font-weight: 500;
}
.article-detail__date{
    margin: 0 0 16px 0;
    color: #8A8A8A;
    font-weight: 500;
    font-size: 12px;
}
.article-detail__head {
    margin-top: 40px;
}
.article-detail__top{
    display: flex;
}
.article-detail__right {
    height: auto;
}
.article-detail__form{
    width: 390px;
    position: sticky;
    top: 10px;
    padding: 32px;
    @include block;
}

.article-detail__price{
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;
    justify-content: flex-start;
}

.article-detail__pre{
    font-size: 12px;
    margin-right: 8px;
}
.article-detail__amount{
    font-size: 32px;
    font-weight: 500;
    color: #000;
    line-height: 100%;
}
.article-detail__symbol{
    font-size: 20px;
    margin-left: 8px;
    line-height: unset;
}
.article-detail__ask{
    margin-bottom: 16px;
}
.article-detail__phone{
    margin-bottom: 16px;
}
//photos
.article-detail__left{
    margin-right: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 730px;
}
.article-detail__nav,
.article-detail__block{
    padding: 24px;
    box-sizing: content-box;
    background: #fff;
    @include block;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
 }
.article-detail__nav{
    margin-top: 24px;
}
//big
.article-detail__figure{
    height: 100%;
    width: 677px;
    position: relative;
}
.article-detail__cover{
   width: 100%;
    max-width: 100%;
}
.article-detail__img-wrap {
  //width: 677px;
  //height: 100%;
}
.article-detail__img{

    height: 100%;
    object-fit: contain;
}

.article-detail__placeholder{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 730px;
  background: #d3a1df21;
  border-radius: 9px;
}
.article-detail__image{
  width: 376px; //height: 200px;


}
//form bottom
.article-detail__form__actions {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article-detail__views{
    font-size: 18px;
    display: flex;
    align-content: center;
}
.article-detail__views__icon{
    color: $pink;
}
.article-detail__views__count{
    margin-left: 8px;
    color: $pink;
    //text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.article-detail__favorites button:hover,
.article-detail__favorites button{
    font-size: 18px;
    background: unset;

}


//bottom
.article-detail__bottom{
    margin-top: 40px;
    width: 730px;
}
.article-detail__subtitle{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;
}
.article-detail__subtitle:not(:first-child){
    margin-top: 24px;
}
.card-block__social{
  display: flex;
}
.card-block__social-title{
  margin-right: 8px;
}


.tmb-wrap-table{
  display: flex !important;
  justify-content: space-between;
}
.tmb-wrap .tmb-wrap-table div{
  display: block;
  flex-grow: 1;
  border-bottom: 1px solid #0000001f;
  margin: 0 2px;
}
.tmb-wrap .tmb-wrap-table div.active {
  border-color: #3b9bff;
}


//small

.article-detail__nav{
  padding: 0;
}
.article-detail__navigation{
  position: relative;
}
.article-detail__small{
  width: 100%;
}
.article-detail__nav{
  padding: 16px;
}
.article-detail__nav .article-detail__navigation {
  height: auto;
  box-sizing: border-box;
  width: 100%;
}
.article-detail__navigation .article-detail__thumb{
  height: 100%;
}
.article-detail__thumb .article-detail__slide {
  opacity: 0.4;
  width: calc(20% - 10px);
  border-radius: 11px;
  overflow: hidden;
}
.article-detail__small{
  width: 140%;
  height: 100px;
  object-fit: cover;
}
.article-detail__thumb .swiper-slide-thumb-active {
  opacity: 1;
}
.article-detail__navigation-arrows{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  display: none;
}

.article-mobile__price{
  display: none;
}
@media (max-width: 1279px) {
  .article-detail__left{
    width: 100%;
  }
  .article-detail__cover .article-detail__img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
  .article-detail__figure{
    width: 100%;
  }
  .article-detail__img-wrap{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .article-detail__top {
    flex-direction: column;
  }
  .article-detail__cover .article-detail__img{
    height: 320px;
  }
  .article-detail__bottom{
    width: 100%;
    margin-top: 16px;
  }
  .article-detail__right{
    margin-top: 24px;
  }
  .article-detail__form{
    width: 100%;
  }
  .article-detail__nav{
    display: none;
  }
  .article-detail__cover .article-detail__img {
    height: 260px;
  }
  .article-detail__form .article-detail__ask,
  .article-detail__form .article-detail__phone{
    display: none;
  }
  .article-detail__tags .tags{
    margin-top: 16px;
  }
  .article-mobile__price{
    margin-top: 16px;
    display: block;
  }
  .article-mobile__amount{
    font-size: 24px;
  }
  .article-detail__price{
    display: none;
  }
}

.article__favorite{
  fill: none;
  cursor: pointer;
  stroke-width: 3px;
  stroke: #f279b1;
  height: 18px;
  width: 20px;
}

.article__favorite.filled {
  fill: #f279b1;
  stroke-width: 0;
  stroke: unset;
}


// region Modificator
.ad_text{
  font-size: 14px;
  line-height: 18px;
}
// endregion Modificator


// region Mobile Block
.mobile-block{
  position: fixed;
  bottom: -100%;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: bottom 200ms ease 0s;
  box-shadow: 0 -40px 60px 0 rgb(37 59 112 / 10%);
}
.mobile-block__inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background: #fff;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .article-detail{
    padding-bottom: 77px;
  }
  .mobile-block {
    bottom: 70px;
  }
}
// endregion Mobile Block