.ads{
    display: flex;
    flex-wrap: wrap;

}
.ad{
    width: calc(25% - 21px);
    @include shadow;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.thirdWidth .ad{
  width: calc(48% - 21px);
}
.ad:hover .ad__title{
    color: $blue;
}
.ad:nth-child(4n) {
    margin-right: 0;
}
.ad__head{
    position: relative;
}
.ad__mobile{
    display: none;
}
.ad__desktop{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.ad__img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    font-family: 'object-fit: cover;';
}
.ad__tags{
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
}
.ad__tag{
    @include shadow;
    display: flex;
    border-radius: 30px;
    align-items: center;
    height: 22px;
    background: $green2;
}
.ad__tag:not(:first-child){
    margin-left: 8px;
}
.ad__tag .ad__link{
    text-decoration: none;
    padding: 0 12px;
    text-transform: capitalize;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
}
.ad__body{
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ad__title{
    font-size: 15px;
    line-height: 19px;
    font-weight: 900;
    transition: color .2s ease;
    color: $dark;
}
.ad__actions{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ad__question{
    background: $yellow;
    height: 29px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 24px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    &.gray{
        background: $gray;
        color: $dark;
        text-transform: none;
        font-weight: 700;
        i{
            color: $dark;
        }
    }
}
.ad__question:hover{
    box-shadow: 0 4px 8px rgb(254 170 89 / 60%);
    background: $yellow;
    color:#fff;
}
.ad__question i{
    margin-right: 8px;
    color: #fff;
}
.ad__ask{
    padding-bottom: 2px;
}
.ad__categories{
    margin-bottom: 4px;
    line-height: 0;
}
.ad__category{
    color: $brawn;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    line-height: 18px;
}
.ad__favorite{
    color: $pink;
}
