.profile-adverts__lines {
  margin-top: 24px;
}
.profile-adverts__info{
  @include block;
  margin-bottom: 24px;
}
.profile-adverts__info div{

}
.profile-adverts__img{

}
.profile-adverts__title{
  width: 210px;
}
.profile-adverts__views{

}
.profile-adverts__favorites{

}
.profile-adverts__favorites,
.profile-adverts__actions{
  text-align: right;
}
.profile-adverts__item{
  padding: 16px;
  font-size: 12px;
}

.profile-adverts__block {
  display: none;
}

.profile-adverts__block.active {
  display: block;
}


.advert-line {
  background: #fff;
  margin-bottom: 8px;
  display: flex;
  padding: 16px;
  @include block;
  justify-content: flex-start;
}


.advert-line__figure {
  width: 100px;
  margin-right: 16px;
}
.advert-line__img {
  width: 100px;
}
.advert-line__main {
  width: 210px;
  padding-left: 24px;
}
.advert-line__category{
  font-size: 12px;
}
.advert-line__views{
  flex-grow: 1;
  justify-content: center;
  display: flex;
}
.advert-line__views__inner {
  display: flex;
  align-items: center;
}
.advert-line__watches{
  font-weight: 500;
  font-size: 14px;
  margin-right: 4px;
  height: fit-content;
  color: #989898;
}
.advert-line__today {
  font-weight: 600;
  color: #3699ff;
  font-size: 14px;
}


.advert-line__favorites{
  flex-grow: 1;
  justify-content: center;
  display: flex;
}
.advert-line__title {
  font-weight: 600;
  font-size: 13px;
}

.advert-line__created,
.advert-line__updated{
  font-size: 12px;
  margin-right: 16px;
}
.advert-line__actions {
  position: relative;
  text-align: right;
  //display: flex;
  //flex-direction: column;
  //align-items: self-start;
}
.advert-line__actions .svg_menu{
  fill: $gray2;
  cursor: pointer;
}
.advert-line__actions:hover .svg_menu{
  fill: $green;
}
.advert-line__actions a{
  font-size: 12px;
}
.advert-line__actions .btn{
  padding: 0;
  font-size: 12px;
}

table{
  width: 100%;
}

.advert-line__choose {
  display: flex;
  align-items: center;
  margin-right: 8px;
}