// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "header";

button,
input{
    outline: none;
}

button:focus,
input:focus{
    outline: none;
}
.card{
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    background: #fff;
    border:none;
    .card-header{
        background-color: none;
        border:  none;
    }
}

.svg_close{
    width: 18px;
    height: 18px;
    fill: #1D2F3C;
    cursor: pointer;
    opacity: 0.54;
}


