// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700:900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "header";


i,
button,
input{
    outline: none;
    box-shadow:none;
}
i,
button:focus,
input:focus{
    outline: none;
    box-shadow:none !important;
}
*{
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
  //  font-family: 'Rubik', sans-serif;
    color: #18191f;
}
a{
    color: rgb(63, 66, 84);
}
a:hover{
    color: $blue;
    text-decoration: none;
}
h5, .h5 {
    font-size: 18px;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
@media (max-width: 1279px) {
    .container {
        margin: 0 24px;
    }
}
@media (max-width: 767px) {
    .container {
        margin: 0 16px;
    }
}
//.card{
//    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
//    background: #fff;
//    border:none;
//    .card-header{
//        background-color: none;
//        border:  none;
//    }
//}

//.svg_close{
//    width: 18px;
//    height: 18px;
//    fill: #1D2F3C;
//    cursor: pointer;
//    opacity: 0.54;
//}

.btn-big{
    font-size: 12px;
    height: 55px;
    padding: 0 10px;
}
.btn-main{
    display: inline-flex;
    align-items: center;
    border-radius: 44px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    width: 100%;
    justify-content: center;
    background:  #82C831;
    filter: drop-shadow(0px 4px 8px rgba(130, 200, 49, 0.5));
}
.btn-second{
    display: inline-flex;
    align-items: center;
    border-radius: 44px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    width: 100%;
    justify-content: center;
    background: #F8C6C6;
    filter: drop-shadow(0px 4px 8px rgb(248 198 198 / 54%));
}


