
$fa-font-path:        "../webfonts";
@import "variables";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import './forms_img';
@import './forms';
@import './menus';

.info {
  &.info_admin {
    position: absolute;
    right: 3%;
    top: 10%;
    background: #61c2cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 900ms;
  }
  &.hide{
    transition: all 900ms;
    right: -100%;
  }
}



.admin{
  .marea{
    .marea-top{
      flex-grow: 0;
    }
    .marea-middle{
      flex-grow: 1;
    }
    .marea__item{

    }
  }
}

//admin cdud
#aform{
  padding: 3rem;
  background: #fff;
  .slug{
    .slug__el{
      flex-basis: 50%;
    }
  }
}

//seo
.seo-vars{
    .seo-vars__ul{
        list-style-type: none;
        .seo-vars__li{

        }
    }
}
//adminfiltersGrop - группы фильтров в админке
.filters-group{
    .filters-group__content{
        padding: 16px;
        .filters-group__item {
            margin-bottom: 8px;
            .filters-group__label {
                margin-right: 16px;
            }
        }
    }
}

.create-form__right__inner {
  position: sticky;
  top: 0;
}
.moderate{
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;
}



