
$fa-font-path:        "../webfonts";
@import "variables";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import './forms_img';
@import './forms';
@import './buttons';
@import './breadcrumb';
@import './menus';
@import './file_loader';
@import './info-cards';
@import './inputs';
@import './widgets/admin_users';
@import './widgets/admin_ads';
@import './widgets/admin_tags_index';
@import './errors';
@import './pagination';

body{
  margin: 0;
}
.dashboard{
  height: 100vh;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
}
.dashboard-container{
  display: flex;

}
.dashboard__sidebar{
  flex: 0 0 260px;
  margin-right: 24px;
  width: 260px;
  bottom: 0;
  position: fixed;
  top: 0;
}
.dashboard__content{
  margin-left: 260px;
  overflow: hidden;
  padding: 70px 24px 65px;
  min-height: 100vh;
  width: 100%;
  background: #fcfdfd;
}

.dashboard__create-btn{
  margin-top: 16px;
}
// region dashboard-sidebar
.dashboard-sidebar {
  padding: 24px;
  background: #313a46;
  height: 100%;
}

.dashboard-sidebar__front{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.dashboard-sidebar__logo{
  display: flex;
}

.dashboard-sidebar__blocks{
  max-height: 100vh;

}

.dashboard-sidebar__block:not(:last-child){
  margin-bottom: 16px;
}
.dashboard-sidebar__top{
  display: flex;
  justify-content: flex-start;

}
.dashboard-sidebar__bottom{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.dashboard-sidebar__name{
  color: #fff;
}
// endregion dashboard-sidebar

// region sidebar block

.sidebar-block{}
.sidebar-block__top{
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.sidebar-block__menu {

}
.sidebar-block__figure{
  display: flex;
  align-items: center;
}
.sidebar-block__arrow,
.sidebar-block__icon{
  width: 18px;
  height: 18px;
  fill: #cedce4;
  margin-right: 16px;
}
.sidebar-block__name{

}
.sidebar-block__bottom{
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
}

.sidebar-block__item{
  padding: 8px 0;

}

.sidebar-block__icon,
 .sidebar-block__arrow,
 .sidebar-block__name,
 .sidebar-block__item,
 .sidebar-block__top{
   color: rgb(131, 145, 162);
   fill: rgb(131, 145, 162);
   transition: all 0.3s ease;
 }


.sidebar-block__name:hover,
.sidebar-block__item:hover,
.sidebar-block__top:hover{
  color: #bccee4;
  fill: #bccee4;
}
.sidebar-block__top:hover .sidebar-block__arrow,
.sidebar-block__top:hover .sidebar-block__icon,
.sidebar-block__top:hover.sidebar-block__name {
  color: #bccee4;
  fill: #bccee4;
}


// toggling

.menu_isOpen .sidebar-block__arrow{
  transform: rotate(90deg);
}

.menu_isOpen .sidebar-block__bottom {
  max-height: 600px;
  height: auto;
  opacity: 1;
}

// endregion sidebar block


// region container
.dashboard__main{
  width: 100%;
}
// endregion container















.info {
  &.info_admin {
    position: absolute;
    right: 3%;
    top: 10%;
    background: #61c2cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 900ms;
  }
  &.hide{
    transition: all 900ms;
    right: -100%;
  }
}
.admin-page__sidebar {
  background: #fff;
}


.admin{
  .marea{
    .marea-top{
      flex-grow: 0;
    }
    .marea-middle{
      flex-grow: 1;
    }
    .marea__item{

    }
  }
}

//admin cdud
#aform{
  padding: 3rem;
  background: #fff;
  .slug{
    .slug__el{
      flex-basis: 50%;
    }
  }
}

//seo
.seo-vars{
    .seo-vars__ul{
        list-style-type: none;
        .seo-vars__li{

        }
    }
}
//adminfiltersGrop - группы фильтров в админке
.filters-group{
    .filters-group__content{
        padding: 16px;
        .filters-group__item {
            margin-bottom: 8px;
            .filters-group__label {
                margin-right: 16px;
            }
        }
    }
}

.create-form__right__inner {
  position: sticky;
  top: 0;
}
.moderate{
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 24px;
}



.scrollbar::-webkit-scrollbar-track {background-color: #dbdbdb}
.scrollbar:hover::-webkit-scrollbar-track {background-color: #dbdbdb}
.scrollbar::-webkit-scrollbar {width: 6px;}
.scrollbar::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #d3a1df; opacity: 0.5}
//.scrollbar:hover::-webkit-scrollbar-thumb {background-color: #83B049; opacity: 0.5}

.widget__actions{
  display: flex;

}
.widget__action{
  cursor: pointer;
  margin-left: 8px;
}
.widget__action svg{
  width: 13px;
  height: 13px;
}


.info-badge{
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 11px;
  transition:all .15s ease;
  &.blue{
       color: #3699ff;
       background-color: #e1f0ff;
       &:hover{
         color: #fff;
         background-color: #3699ff;
       }
     }
  &.green{
    color: #fff;
    background-color: #28a745;
    &:hover{
      color: #fff;
      background-color: #47db69;
    }
  }
  &.red{
    color: #fff;
    background-color: #dc3545;
    &:hover{
      color: #fff;
      background-color: #ff5162;
    }
  }
}
