.i-comment{
    display: flex;
    margin-bottom: 16px;
    align-items: flex-start;
    position: relative;
}
.i-comment__col{

}
.i-comment__title{
    font-weight: 600;
    color: #0a0a0e;
}
.i-comment__desc{
    color: #b5b5c3;
}
.i-comment__content{
    margin-left: 24px;
    width: 40%;
}
.i-comment__data{
    position: absolute;
    color:#b5b5c3;
    right: 24px;
    top: 16px;
}
.i-comment__new {
    align-self: center;
}
.i-comment__link{
  width: 100%;
  border-radius: 8px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  display: flex;
}
.i-comment__img {
  width: 80px;
  border-radius: 8px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}
.p-comment{
    background: #f5f6f7;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}
.p-comment__title{
    font-weight: 600;
    width: 85%;
}
.p-comment__desc{
    color: #b5b5c3;
}
.p-comment__date{
    position: absolute;
    color:#b5b5c3;
    right: 24px;
    top: 16px;
}
.i-comment__from{
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
}

.i-comment__to .i-comment__user{
  font-weight: 600;
}
.i-comment__to .i-comment__title{
  color: #b5b5c3;
  font-weight: 400;
}

// region Comment page
.comment-page{}
.comment-page__top{

}
// endregion Comment page


@media (max-width: 767px){
  .p-comment__date{
    position: static;
    margin-bottom: 16px;
  }
  .i-comment{
    flex-direction: column;
  }

  .i-comment__col,
  .i-comment__content,
  .i-comment__new{
    width: 100%;
    margin-left: 0;
  }
  .i-comment__content{
    margin: 8px 0;
  }
  .i-comment__data{

  }
}