.cart-errors {
  width: fit-content;
  padding: 16px;
  background: #f8d7da;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  border-color: #f5c6cb;
  border-left: 4px solid #f39ea6;
}

.cart-errors__li {
  font-size: 14px;
  color: #313a46;
  font-weight: 400;
  margin-bottom: 4px;
}

li.cart-errors__li::marker {
  color: red;
  font-size: 1.5em;
}


.front .cart-errors {
  width: auto;
}


// region Errors Block
.error-block{
  padding: 20px;
  background-color: #ea806f;
  color: white;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 6px;
}
.error-block__ul {
  padding-left: 20px;
  list-style-type: disc;
}
.error-block__li{
  color: white;

  font-size: 14px;
}
.error-block__li:not(:last-child){
  margin-bottom: 8px;
}
// endregion Errors Block