.article-features {
  display: flex;
  flex-direction: column;
}

.article-features__row {
  display: flex;
  margin-bottom: 8px;
}

.article-features__name {
  font-weight: 600;
}

.article-feature__dote {
  border-bottom: 1px dashed #D7DBDE;
  flex-grow: 1;
}

.article-features__value {
}

@media (max-width: 767px) {
  .article-features__row {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .article-feature__dote {
    display: none;
  }
  .article-features__name {
    margin-bottom: 4px;
  }
}

