.select2 {
    display: block;
    width: 100% !important;
}
.js_error.show{
    display: block;
}
.js_error{
    display: none;
}
//.onError{
//    border: 1px solid #e89d9d !important;
//}
.onError + .js_error{
    display: block;
    text-align: left;
}

.reg-form__social{
  margin-top: 16px;
}
.reg-form__row{
    display: flex;
    justify-content: space-between;
}
.js_formError{
    display: none;
    &.show{
        display: block;
    }
}
.form-error{
    .form-error__msg{

    }
    .form-error__close{
        position: absolute;
        top: 8px;
        right: 8px;
        fill: #000;
    }
}
//======INPUTS
//==========================
.form__label {
    font-weight: 600;
    font-size: 10px;
    color: #6e7d97;
    margin-bottom: 4px;
}
.form__input{
    border: 1px solid #ebecf3;
    border-radius: 5px;
    height: 41px;
    width: 100%;
    padding: 0 16px;
}
//==========================
//==========================regist form==========================
.reg-form{
    width: 766px;
    display: flex;
    margin: 0 auto;
    @include block;

}
.reg-form__left{
    flex-grow: 1;
    display: flex;
    width: 50%;
    background: #82c831;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
}
.reg-form__figure{
    width: 84%;
}
.reg-form__right{
    flex-shrink: 0;
    width: 50%;
    padding: 80px 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.reg-form__sub{
    text-transform: uppercase;
    font-size: 10px;
    color: $gray3;
    font-weight: 600;
    letter-spacing: 1px;
}
.reg-form__title{
    font-size: 36px;
    font-weight: 700;
    color: #344055;
  margin-bottom: 8px;
}
.reg-form__login{
    color: $gray3;
    font-size: 14px;
}
.reg-form__login_link,
.reg-form__register_link{
  font-weight: 900;
}
.reg-form_form {
    margin-top: 32px;
}
.reg-form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.reg-form__subtitle{
    color: $gray3;
    text-align: center;
    margin: 0px 0 8px 0;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    z-index: 99999;
    background: #fff;
}
//=======================LOGIN FORM
//
//
.login-form{
    width: 450px;
    display: flex;
    margin: 0 auto;
    @include block;
    padding: 80px 40px 24px;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

@media (max-width: 1279px) {

}
@media (max-width: 767px) {
    .reg-form__left{
        display: none;
    }
    .reg-form{
        width: 100%;
    }
    .reg-form__right{
        width: 100%;
    }
    .reg-form__title{
        font-size: 24px;
    }
    .reg-form__sub {
        font-size: 8px;
    }
}

/*=============Стили конкретных форм==================*/
.ads-del{}
.ads-del__thanks{
  max-width: 420px;
}


