@import './forms_img';
.ava{
    position: relative;
    margin-bottom: 8px;
    .ava__block{
        //margin: 16px 0;
        //width:200px;
        //height: 200px;
        overflow: hidden;
        border-radius: 100%;
        //border-radius: 9px;
        border: 17px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        .ava__img{
            //width: 134px;
            width: 100%;
        }
    }
    .ava__name{
        //position: absolute;
        font-weight: 900;
        padding: 2px 10px;
        font-size: 20px;
        bottom: 0;
        svg{

        }
    }
}


//Personal page
.personal {
    .personal_ul{
        .personal_a{
            font-size: 16px;
            color:#252533;
        }
    }
}


// Form tags
.select2 {
    display: block;
    width: 100% !important;
    .select2-selection__choice{
        background-color: #25eba2 !important;
        color:#fff;
        span{
            color:#fff !important;
        }
    }
}


//Product filters
.tab-content{
    .tab-pane{
        &.active{
            background: #f8fafc;
            border-left: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            padding: 16px 0 0 16px;
        }
    }
}
.filters-group__content {
    .filters-group__item {
        .filters-group__label{
            margin-bottom: 0;
            margin-left: 8px;
        }
        display: flex;
        align-items: center;
    }
}
