.navbar-nav {
    .nav-item{
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
}

.i-svg{
    &.i-svg__sm{
        width:16px;
        height: 16px;
    }
    &.i-svg__md{
        width:30px;
        height: 30px;
    }
    &.i-svg__bgGrey{
        fill: #808080;
    }
    &.i-svg__bgLink{
        fill: #3490dc;
    }
    &.i-svg__bgDark{
        fill: #a5a5a5;
    }
}
