.navbar{}
.navbar .navbar-brand{
  width: 300px;
}


.navbar-nav {
    .nav-item{
        display: flex;
        align-items: center;
        margin-right: 16px;
      a{
        position: relative;
      }
    }
}

.nav-item__logo{
    width: 47%;
}
.nav-item__badge{
  position: absolute;
  top: 0;
  right: -50%;
}

.favorites-block{}
.favorites-block__link{
    position: relative;
}
.favorites-block__info{
    position: absolute;
    top: 0;
    right: -9px;
}
