.sidebar__ul{
  list-style-type: none;
  padding-left: 0;
}
.d-menu__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-menu__toggle:hover{
  background: #f9f9f9;
}
.d-menu__arrow{
  transition: all 0.3s ease;
  position: relative;
  font-size: 10px;
  color: #949494;
  background: #e9ecef;
  padding: 4px 6px;
  border-radius: 4px;
}
.menu_isOpen .d-menu__arrow {
  transform: rotate(90deg);
}

.d-menu__content {
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
}

.d-menu.menu_isOpen .d-menu__content {
  max-height: 600px;
  height: auto;
  opacity: 1;
  background: #f9f9f9;
}
.d-menu__title {
  font-size: 13px;
  font-weight: 600;
  color: #5e5e5e;
}
.sul-link.d-menu.menu_isOpen {
  background: #f9f9f9;
}


// region Category Menu
.category-menu{}
.category-menu .menu{
  display: flex;
  align-items: center;
}
.category-menu .menu__li{
  display: flex;
  height: 100%;
  align-items: inherit;
  position: relative;
}
.category-menu .menu__li:not(:first-child){
  margin-left: 24px;
}

.category-menu .menu__link{
  display: inherit;
  align-items: center;
  height: 100%;
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
  padding: 24px 0;
  text-transform: uppercase;
  letter-spacing: .8px;
  position: relative;
}

.menu__sub{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -100%
}
.menu__parent  .menu__sub.show{
  visibility: visible;
  opacity: 1;
  top: 100%;
  height: fit-content;
  min-width: max-content;
  width: 100%;
  z-index: 9;
  background: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  border-radius: 0 0 10px 10px;
}
.menu__sub .menu{
  flex-direction: column;
  align-items: self-start;
}
.menu__sub .menu .menu__li{
  margin-left: 0;
  width: 100%;
}
.menu__sub .menu .menu__link{
  padding: 8px 16px;
  width: 100%;
}
.menu_svg{
  width: 24px;
  height: 24px;
  fill: #afafaf;
}
.menu__sub .menu .menu__li:not(:last-child) .menu__link{
  border-bottom: 1px solid #eee;
}
// endRegion Category Menu