.sidebar__ul{
  list-style-type: none;
  padding-left: 0;
}
.d-menu__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-menu__toggle:hover{
  background: #f9f9f9;
}
.d-menu__arrow{
  transition: all 0.3s ease;
  position: relative;
  font-size: 10px;
  color: #949494;
  background: #e9ecef;
  padding: 4px 6px;
  border-radius: 4px;
}
.menu_isOpen .d-menu__arrow {
  transform: rotate(90deg);
}

.d-menu__content {
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
}

.d-menu.menu_isOpen .d-menu__content {
  max-height: 600px;
  height: auto;
  opacity: 1;
  background: #f9f9f9;
}
.d-menu__title {
  font-size: 13px;
  font-weight: 600;
  color: #5e5e5e;
}
.sul-link.d-menu.menu_isOpen {
  background: #f9f9f9;
}