.modal__wrap {
    display: none;

    &.open {
        width: 100%;
        height: 100%;
        padding-top: 160px;
        position: fixed;
        display: block;
        top: 0;
        background: rgba(26%, 31%, 35%, 0.8);
        z-index: 9996;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
    }

    .modal__container {
        padding: 40px 48px;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        box-sizing: border-box;
        box-shadow: 0 4px 15px rgb(120 160 190 / 30%);
        border-radius: 10px;
        max-width: 584px;
        margin: auto auto 24px;
        text-align: center;
        position: relative;

        .modal__title {
            margin: 0 0 24px 0;
            font-size: 40px;
            line-height: 48px;
            font-weight: 700;
            color: #1D2F3C;
        }

        .modal__close {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 18px;
            height: 18px;
            fill: #1D2F3C;
            cursor: pointer;
            opacity: 0.54;
        }

        .modal__form {
            display: flex;
            flex-direction: column;
            .modal__group {
                margin-bottom: 16px;
                .modal__element {
                    font-family: 'Montserrat';
                    font-size: 14px;
                    margin-right: 11px;
                    padding: 10px 18px;
                    background-color: #F2F2F2;
                    color: #828282;
                    border-radius: 4px;
                    border: 1px solid #f2f2f2;
                    box-sizing: border-box;
                    outline: none;
                    min-height: 16px;
                    width: 100%;
                }
            }
        }
    }
}
