.modal {
  width: 100%;
  height: 100%;
  //padding-top: 160px;
  position: fixed;
  display: block;
  top: 0;
  background: rgba(26%, 31%, 35%, 0.8);
  z-index: 9996;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  transition: all 0.6s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

// Центруем
.modal__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.modal.open .modal__main{
  transform: translate(0px, 0px);
  opacity: 1;
}

.modal.modal_response .modal__main {
  transform: translate(0px, -100%);
  opacity: 0;
}

.modal__container {
  padding: 40px 48px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgb(120 160 190 / 30%);
  border-radius: 10px;
  text-align: center;

  position: relative;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}


.modal__success{
  position: absolute;
  opacity: 0;
}
.modal.open.modal_response .modal__success{
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;

}


.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 18px;
  height: 18px;
  fill: #1D2F3C;
  cursor: pointer;
  opacity: 0.54;
}

.modal__title {
  margin: 0 0 24px 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #1D2F3C;
}

//.modal__wrap {
//    display: none;
//    .modal__thanks{
//        display: none;
//        max-width: 440px;
//    }
//    &.open {
//        width: 100%;
//        height: 100%;
//        padding-top: 160px;
//        position: fixed;
//        display: block;
//        top: 0;
//        background: rgba(26%, 31%, 35%, 0.8);
//        z-index: 9996;
//        overflow: scroll;
//        -webkit-overflow-scrolling: touch;
//        box-sizing: border-box;
//    }
//    .modal__container {
//        padding: 40px 48px;
//        background: #FFFFFF;
//        border: 1px solid #F0F0F0;
//        box-sizing: border-box;
//        box-shadow: 0 4px 15px rgb(120 160 190 / 30%);
//        border-radius: 10px;
//        margin: auto auto 24px;
//        text-align: center;
//        position: relative;
//
//        .modal__title {
//            margin: 0 0 24px 0;
//            font-size: 40px;
//            line-height: 48px;
//            font-weight: 700;
//            color: #1D2F3C;
//        }
//        .modal__small{
//            margin: 0 0 24px 0;
//            font-size: 19px;
//            line-height: 26px;
//            font-weight: 400;
//            color: #1D2F3C;
//            font-family: Montserrat;
//        }
//        .modal__close {
//            position: absolute;
//            top: 8px;
//            right: 8px;
//            width: 18px;
//            height: 18px;
//            fill: #1D2F3C;
//            cursor: pointer;
//            opacity: 0.54;
//        }
//        .modal__form {
//            display: flex;
//            flex-direction: column;
//            .modal__group {
//                margin-bottom: 16px;
//            }
//        }
//    }
//    .modal__info{
//        max-width: 444px;
//    }
//    .modal__login{
//        border-bottom: 1px solid #8950fc;
//        color: #8950fc;
//    }
//}


.modal_small {
  width: 480px;
}

@media (max-width: 767px) {
  .modal_small {
    width: 100%;
  }
  .modal__title{
    font-size: 32px;
    line-height: 38px;
  }
}

