.contentCenter{
    display: flex;
    justify-content: center;
}
.wideWidth{
    width: 100%;
}

.rotateLeft{
  transform: rotate(180deg);
}

.comment_isNew{
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #82c831;
  display: block;
  position: absolute;
  top: 6px;
  right: 11px;
}