.preloader {
  display: none;
}

.preloader.open {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #00000017;
  z-index: 1001;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__image {
  width: 70px;
  height: 70px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.js_ajaxPreloader.loading {
  position: relative;
}

.lds-ellipsis__wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0 3px 28px #f7f7f7;
  z-index: 9999;
  overflow: hidden;
  background: #ffffffb8;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 5%;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #82C831;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


// region Center Preloader
.preloader_central  .lds-ellipsis__wrap{
  align-items: center;
}
.preloader_central .lds-ellipsis {
  top: unset;
}
// endregion Center Preloader


// region No Shadow Preloader
.preloader_no_shadow .lds-ellipsis__wrap{
  box-shadow: unset;
}
// endregion No Shadow Preloader
