.ava{
    @include block;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 9px;
    .ava__block{
        //margin: 16px 0;
        //width:200px;
        display: flex;
        justify-content: center;
        width:100% ;
        .ava__img{
            //width: 134px;
            width: 100%;
            border-radius: 7px;
        }
    }
    .ava__name{
        font-weight: 500;
        padding: 7px 10px;
        font-size: 14px;
        margin-top: 24px;
        width: 100%;
        border-radius: 9px;
        text-align: center;
        border: 2px solid #cbf0ff;
        color: #868686;
        svg{

        }
    }
}


//Personal page
.personal {
    .personal_ul{
        .personal_a{
            font-size: 16px;
            color:#252533;
        }
    }
}


