.ava{
    @include block;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 24px;
    margin-bottom: 32px;
    border-radius: 9px;
    .ava__block{
        //margin: 16px 0;
        //width:200px;
        display: flex;
        justify-content: center;
        width:100% ;
        .ava__img{
            //width: 134px;
            width: 100%;
            border-radius: 7px;
        }
    }

}
.ava__name{
  font-weight: 600;
  padding: 7px 10px;
  font-size: 14px;
  margin-top: 24px;
  width: 100%;
  border-radius: 9px;
  text-align: center;
  //border: 2px solid #cbf0ff;
  color: #868686;
  svg{

  }
}

//Personal page
.personal {
    .personal_ul{
        .personal_a{
            font-size: 16px;
            color:#252533;
        }
    }
}

.ui-block__title{
  margin: 16px 0;
}
.ui-block__menu{
  list-style-type: none;
  padding: 0;
}
.ui-menu__li{
  box-shadow: 0 40px 60px 0 rgb(37 59 112 / 10%);
  background: #fff;
  margin: 8px 0;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 63px;
  //border: 2px solid #cbf0ff;
  position: relative;
}
.ui-menu__li:hover .ui-menu__text{
  color: #9e9e9e;
}
.ui-menu__text{
  margin-left: 8px;
  color: #868686;
  font-weight: 600;
}