.profile-content{
  display: flex;
  margin-top: 40px;
}
.profile-content__sidebar{
  flex: 0 0 25%;
  margin-right: 24px;
}
.profile-content__body{
  flex: 0 0 75%;
}
.ava {

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  .ava__block {
    @include block;
    background: #fff;
    padding: 24px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .ava__img {
      width: 100%;
      border-radius: 7px;
    }
  }
  .ava__name {
    font-weight: 500;
    font-size: 14px;
    margin-top: 16px;
    width: 100%;
    border-radius: 9px;
    color: #000;
    svg {

    }
  }
}


//Personal page
.personal {
  .personal_ul {
    .personal_a {
      font-size: 16px;
      color: #252533;
    }
  }
}

.ui-block__title {
  margin: 16px 0;
}

.ui-block__menu {
  list-style-type: none;
  padding: 0;
}

.ui-menu__li {
  transition: background-color .4s ease-in;
  box-shadow: 0 40px 60px 0 rgb(37 59 112 / 10%);
  background: #fff;
  margin: 8px 0;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 63px;
  //border: 2px solid #cbf0ff;
  position: relative;
  border-left: 4px solid #82C831;
}

.ui-menu__li:hover .ui-menu__text {
  color: #9e9e9e;
}

.ui-block__menu .ui-menu__li svg {
  fill: #9fb2c5;
}

.ui-menu__text {
  margin-left: 8px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

//accent
.ui-menu__accent {
  background: #82C831;
}

.ui-menu__accent svg.i-svg {
  fill: #fff;
}

.ui-menu__accent .ui-menu__text {
  font-weight: 600;
  color: #ffffff;
}

.ui-menu__accent:hover {
  background: #82c831bd;
}

.ui-menu__accent:hover .ui-menu__text {
  color: #ffe;
}

@media (max-width: 767px) {
  .profile-content{
    flex-direction: column;
  }
  .profile-content__sidebar{
    display: none;
  }
}
