.arrow-big{
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 24px;
    height: 40px;
    width: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    filter: drop-shadow(0px 4px 15px rgba(120, 160, 190, 0.3));
    transition: all .2s ease;
}
.arrow-big.arrow__right:hover{
    transform: translateX(-5px);
}
.arrow-big.arrow__left:hover{
    transform: translateX(5px);
}
.arrow-big.arrow__left{
    top: 50%;
    right: 16px;
}
.arrow-big.arrow__right{
    top: 50%;
    left: 16px;
}
.arrow__right .arrow-big__direct {
    transform: rotate(180deg);
}
.arrow-big__direct{
    fill: #82c831;
    width: 24px;
    height: 24px;
}

@media (max-width: 767px){
  .arrow-big.arrow__right,
  .arrow-big.arrow__left{
    display: none;
  }
}
