.tags{
   display: flex;
   margin-top: 24px;
    align-content: center;
}
.tags__title{
    margin-right: 16px;
    display: flex;
    align-items: center;
}
.tags__item{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    color: #54545a;
    background-color: #f6f6f6;
    border-radius: 16px;
    height: fit-content;

}
