@font-face {
  font-family: "GothamProRegular";
  src: url("/fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("/fonts/GothamProRegular/GothamProRegular.ttf") format("opentype");
}

@font-face {
  font-family: "GothamProBold";
  src: url("/fonts/GothamProBold/GothamProBold.woff") format("woff"), url("/fonts/GothamProBold/GothamProBold.ttf") format("opentype");
}

.navbar .navbar-brand {
  width: 300px;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.navbar-nav .nav-item a {
  position: relative;
}

.nav-item__logo {
  width: 47%;
}

.nav-item__badge {
  position: absolute;
  top: 0;
  right: -50%;
}

.favorites-block__link {
  position: relative;
}

.favorites-block__info {
  position: absolute;
  top: 0;
  right: -9px;
}

.header-top {
  background-color: #ff636d;
  background-image: linear-gradient(90.4deg, #ff636d 0.17%, #f88245 57.13%, #f3a720 103.22%);
}

.header-top {
  border-bottom: 1px solid #fffdfd2e;
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__ul {
  display: flex;
  padding: 8px 0;
}

.header-top__li:not(:first-child) {
  margin-left: 16px;
}

.header-top__link {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}

.header-top__cities {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}

.header-middle {
  background: #fff;
}

.header-middle__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.header-middle__menu {
  flex-grow: 1;
  margin: 0 24px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.header-middle__profile {
  display: flex;
}

.logo__desc {
  width: 140px;
  height: 60px;
}

.profile__item:not(:first-child) {
  margin-left: 24px;
}

.profile__mlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 11px;
  background: #f8fafc;
  border-radius: 100%;
}

.profile__name {
  font-size: 12px;
  margin-top: 4px;
  color: #4e4e4e;
  display: none;
}

.profile__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile_svg {
  height: 22px;
  width: 22px;
}

.profile.blue .profile_svg {
  fill: #3699ff;
}

.profile.yellow .profile_svg {
  fill: #fce000;
}

.profile .profile_svg {
  fill: #d3a1df;
}

.profile-menu.show .profile-menu__inner {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

.profile-menu {
  margin-left: -50%;
}

.profile-menu__inner {
  padding: 24px;
  transition: all 0.5ms ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 50;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
  width: 205px;
}

.profile-menu__ul {
  padding-bottom: 16px;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

.profile-menu__ul:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.profile-menu__ul:last-child {
  padding-bottom: 0;
}

.profile-menu__li:not(:first-child) {
  margin-top: 8px;
}

.profile-menu__link {
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.profile__info {
  position: absolute;
  padding: 1px 5px;
  font-size: 10px;
  text-align: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  right: 0;
}

.profile.yellow .profile__info {
  background: #0ec645;
  color: #fff;
}

.profile .profile__info {
  background: #0ec645;
  color: #fff;
}

.profile.yellow .profile-menu__user {
  font-weight: 900;
  color: #f88245;
}

.profile .profile-menu__user {
  font-weight: 900;
  color: #d3a1df;
  font-size: 14px;
}

.profile__search.isOpen .profile__name {
  opacity: 0;
}

.search {
  position: absolute;
  width: 0;
  right: -75px;
  top: unset;
  opacity: 0;
  transition: width 200ms ease-in, opacity 200ms ease-in;
}

.search.show {
  width: calc(100% + 75px);
  opacity: 1;
  transition: width 200ms ease-in;
}

.search__item {
  display: flex;
  flex-direction: column;
}

.search___name {
  font-size: 12px;
  margin-top: 4px;
  color: #4e4e4e;
}

.search__svg {
  height: 26px;
  width: 26px;
  fill: #d3a1df;
}

.search__input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding-left: 48px;
  background: #f8fafc;
}

.search__btnSvg {
  position: absolute;
  top: 10px;
  left: 16px;
  height: 30px;
  width: 24px;
  fill: #7d8694;
}

.search__actions {
  position: absolute;
  right: 16px;
  top: 13px;
}

.search__submit {
  background: unset;
  font-weight: 600;
  color: #0ec645;
  text-transform: uppercase;
  font-size: 12px;
}

.search .search__cell {
  margin-bottom: 0;
}

.search .search__close {
  display: block;
  position: absolute;
  top: 16px;
  left: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: #d3a1df;
}

.header-menus {
  background: #fff;
}

.header__mobile {
  display: none;
}

@media (max-width: 767px) {
  .header__desktop {
    display: none;
  }

  .header__mobile {
    display: block;
  }
}

.m-header__bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 16px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 5px 26px -14px #3333338a;
}

.m-header__top {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-bottom__svg {
  height: 24px;
  width: 24px;
  fill: #d3a1df;
}

.header-bottom__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bottom__name {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 4px;
  color: #4e4e4e;
}

.mob-top {
  display: flex;
  background: #fff;
  width: 100%;
  align-items: center;
  padding: 0 16px;
  justify-content: flex-start;
  height: 50px;
  border-bottom: 1px solid #f3f4f7;
}

.mob-top__form {
  display: flex;
  width: 100%;
}

.mob-top__menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-top .mob-top__search {
  flex-grow: 1;
  margin-bottom: 0;
  flex-direction: row;
  align-items: center;
}

.mob-top__svg {
  width: 26px;
  height: 26px;
  fill: #d3a1df;
}

input.mob-top__input {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 6px;
  height: 35px;
  padding-left: 16px;
}

.mob-top__svg {
  margin-left: 8px;
}

.contentCenter {
  display: flex;
  justify-content: center;
}

.wideWidth {
  width: 100%;
}

.rotateLeft {
  transform: rotate(180deg);
}

.comment_isNew {
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #82c831;
  display: block;
  position: absolute;
  top: 6px;
  right: 11px;
}

.fix_viewport {
  max-height: 600px;
  overflow-y: scroll;
}

.scrollBlock {
  overflow: hidden;
}

i,
button,
input {
  outline: none;
  box-shadow: none;
  border: none;
}

i,
button:focus,
input:focus {
  outline: none;
  box-shadow: none !important;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* {
  font-family: "GothamProRegular", sans-serif;
  color: #18191f;
}

a {
  color: #3f4254;
  text-decoration: unset;
}

a:hover {
  color: #419bbf;
  text-decoration: none;
}

h4,
.h4 {
  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
}

h5,
.h5 {
  font-size: 18px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    margin: auto;
  }
}

.i-svg.i-svg__sm {
  width: 16px;
  height: 16px;
}

.i-svg.i-svg__tw {
  width: 20px;
  height: 20px;
}

.i-svg.i-svg__md {
  width: 30px;
  height: 30px;
}

.i-svg.i-svg__lg {
  width: 45px;
  height: 45px;
}

.i-svg.i-svg__bgGrey {
  fill: #808080;
}

.i-svg.i-svg__bgLink {
  fill: #3490dc;
}

.i-svg.i-svg__bgDark {
  fill: #a5a5a5;
}

.btn-big {
  font-size: 12px;
  padding: 18px 32px;
  display: inline-flex;
  align-items: center;
  border-radius: 193px;
  letter-spacing: 0.8px;
  width: 100%;
  justify-content: center;
}

.btn-small {
  padding: 7px 10px;
  font-weight: 500;
  font-size: 11px;
  transition: all 0.15s ease;
  border-radius: 24px;
}

.btn-half {
  border-radius: 10px;
}

.btn-round {
  border-radius: 100%;
}

.btn-shadow {
  background: #ffffff;
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
  padding: 15px;
}

.btn-default {
  background-color: #f6f6f6;
  color: #198cff;
  font-weight: 500;
}

.btn-default:hover {
  background-color: #198cff33;
  color: #198cff;
}

.btn-def {
  border: 1px solid #edeef4;
  color: #657590;
}

.marginLeftOne {
  margin-left: 8px;
}

.back-block {
  margin-bottom: 24px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.captcha {
  font-size: 10px;
  text-align: left;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.captcha__info {
  margin-right: 8px;
}

.captcha__link {
  margin-right: 8px;
  margin-left: 8px;
  color: #3699ff;
}

.scrollVertical::-webkit-scrollbar-track {
  background-color: #d7dbde00;
  opacity: 0.1;
}

.scrollVertical:hover::-webkit-scrollbar-track {
  background-color: #d7dbde00;
}

.scrollVertical::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollVertical::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #48b0f7;
}

.scrollVertical:hover::-webkit-scrollbar-thumb {
  background-color: #48b0f7;
}

.scrollFat::-webkit-scrollbar-track {
  background-color: #d7dbde00;
  opacity: 0.1;
}

.scrollFat:hover::-webkit-scrollbar-track {
  background-color: #d7dbde00;
}

.scrollFat::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

.scrollFat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #48b0f7;
}

.scrollFat:hover::-webkit-scrollbar-thumb {
  background-color: #48b0f7;
}

.meta__h1 {
  margin-bottom: 40px;
}

.front {
  padding: 0;
  margin: 0;
}

.app__main {
  min-height: 100vh;
}

@media (max-width: 767px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .app__main {
    padding: 72px 16px 80px;
  }
}

