@charset "UTF-8";

.create-form .create-form__item {
  background: #fff;
  overflow: hidden;
}

.create-form .create-form__item .create-form__title {
  margin-bottom: 16px;
  font-size: 12px;
}

.create-form .create-form__item .create-form__error {
  display: none;
  color: #ff0000;
  font-weight: 500;
  letter-spacing: 1px;
}

.create-form .create-form__item .create-form__error.show {
  display: block;
}

.create-form .single-img__input {
  display: none;
}

.create-form .fake-upload {
  border: 4px solid #f8fafc;
  padding: 8px;
  box-shadow: 0 1px 8px -7px #000;
  width: 100px;
  max-height: 106px;
  display: flex;
  cursor: pointer;
}

.create-form .fake-upload .fake-upload__img {
  width: 100%;
}

.create-form .single-img__handle {
  display: flex;
  align-items: center;
}

.create-form .single-img__handle .single-img__upload {
  width: 56px;
}

.create-form .single-img__handle .single-img__load {
  margin-left: 16px;
  font-weight: 900;
  line-height: 100%;
}

.create-form .single-img__handle .single-img__load span {
  font-size: 12px;
  color: #656565;
}

.create-form .image-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #fff;
  padding: 5px;
}

.create-form .image-preview__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  border: 4px solid #f8fafc;
  padding: 8px;
  box-shadow: 0 1px 8px -7px #000;
  border-radius: 5px;
  margin-right: 4px;
  width: 100px;
  overflow: hidden;
  max-height: 127px;
}

.create-form .image-preview__item img {
  height: 100%;
}

.create-form .image-preview__name {
  font-size: 10px;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.image-preview__del {
  width: 24px;
  fill: #ff2828;
  height: 24px;
  position: absolute;
  top: 0;
  background: #fff;
  left: 0;
  cursor: pointer;
}

.image-preview__process {
  height: 5px;
  width: 100%;
}

.image-preview__process .image-preview__bar {
  width: 0;
  background: #000;
}

.image-preview__bar.image_main {
  border: 4px solid #4271ae;
}

.front .image-preview__item {
  max-width: 300px;
  overflow: hidden;
  height: 300px;
  border: 2px dashed #cccccc;
  position: relative;
  margin-right: 8px;
}

.front .image-preview__item.image_main {
  border: 2px solid #4271ae;
}

.front .image-preview__item.image_main:after {
  position: absolute;
  content: "\43E\441\43D\43E\432\43D\430\44F";
  bottom: 0;
  background: #4271ae;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 100%;
  font-size: 10px;
}

.front .fake-upload.ava {
  /* border: 4px solid #f8fafc; */
  padding: 7px;
  width: 100%;
  max-height: 52px;
  display: flex;
  cursor: pointer;
  margin-top: 16px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #587ea5;
  border-radius: 6px;
}

.front .fake-upload.ava .fake-upload__img {
  width: 30px;
}

.front .fake-upload.ava .fake-upload__text {
  margin-left: 16px;
  font-weight: 900;
  color: #ffffff;
}

.i-comment {
  display: flex;
  margin-bottom: 16px;
  align-items: flex-start;
  position: relative;
}

.i-comment__title {
  font-weight: 600;
  color: #0a0a0e;
}

.i-comment__desc {
  color: #b5b5c3;
}

.i-comment__content {
  margin-left: 24px;
  width: 40%;
}

.i-comment__data {
  position: absolute;
  color: #b5b5c3;
  right: 24px;
  top: 16px;
}

.i-comment__new {
  align-self: center;
}

.i-comment__link {
  width: 100%;
  border-radius: 8px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: flex;
}

.i-comment__img {
  width: 80px;
  border-radius: 8px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.p-comment {
  background: #f5f6f7;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.p-comment__title {
  font-weight: 600;
  width: 85%;
}

.p-comment__desc {
  color: #b5b5c3;
}

.p-comment__date {
  position: absolute;
  color: #b5b5c3;
  right: 24px;
  top: 16px;
}

.i-comment__from {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
}

.i-comment__to .i-comment__user {
  font-weight: 600;
}

.i-comment__to .i-comment__title {
  color: #b5b5c3;
  font-weight: 400;
}

@media (max-width: 767px) {
  .i-comment {
    flex-direction: column;
  }

  .i-comment__col,
  .i-comment__content,
  .i-comment__new {
    width: 100%;
    margin-left: 0;
  }

  .i-comment__content {
    margin: 8px 0;
  }
}

.ads {
  display: flex;
  flex-wrap: wrap;
}

.ad {
  width: calc(25% - 21px);
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.thirdWidth .ad {
  width: calc(48% - 21px);
}

.ads.treeColl .ad {
  width: calc(32% - 21px);
}

.ad:hover .ad__title {
  color: #419bbf;
}

.ad:nth-child(4n) {
  margin-right: 0;
}

.ad__head {
  position: relative;
}

.ad__mobile {
  display: none;
}

.ad__desktop {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.ad__img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  font-family: "object-fit: cover;";
}

.ad__head .ad__main_placeholder {
  width: 63%;
  text-align: center;
  margin: 20% auto;
  display: block;
}

.ad__tags {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
}

.ad__tag {
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  height: 22px;
  background: #0ec645;
}

.ad__tag:not(:first-child) {
  margin-left: 8px;
}

.ad__tag .ad__link {
  text-decoration: none;
  padding: 0 12px;
  text-transform: capitalize;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

.ad__body {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad__title {
  font-size: 15px;
  line-height: 19px;
  font-weight: 900;
  transition: color 0.2s ease;
  color: #2e2e33;
}

.ad__actions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad__question.gray {
  background: #f6f6f6;
  color: #2e2e33;
  text-transform: none;
  font-weight: 700;
}

.ad__question.gray i {
  color: #2e2e33;
}

.ad__question i {
  margin-right: 8px;
  color: #fff;
}

.ad__svg {
  width: 12px;
  height: 12px;
}

.ad__categories {
  margin-bottom: 4px;
  line-height: 0;
}

.ad__category {
  color: rgba(24, 25, 31, 0.48);
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  line-height: 18px;
}

.ad__favorite.filled {
  fill: #f279b1;
  stroke-width: 0;
  stroke: unset;
}

.ad__favorite {
  fill: none;
  height: 18px;
  width: 20px;
  cursor: pointer;
  stroke-width: 3px;
  stroke: #f279b1;
}

@media (max-width: 1279px) {
  .ad {
    width: 46%;
  }
}

@media (max-width: 767px) {
  .ad {
    width: 90%;
    margin: 0 auto 24px !important;
  }

  .ad__desktop {
    display: none;
  }

  .ad__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ad__default {
    width: 50%;
    padding: 24px;
  }

  .ads.treeColl .ad {
    width: 90%;
  }
}

.article-detail__title {
  font-size: 24px;
  font-weight: 500;
}

.article-detail__date {
  margin: 0 0 16px 0;
  color: #8A8A8A;
  font-weight: 500;
  font-size: 12px;
}

.article-detail__head {
  margin-top: 40px;
}

.article-detail__top {
  display: flex;
}

.article-detail__right {
  height: auto;
}

.article-detail__form {
  width: 390px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
}

.article-detail__price {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
  justify-content: flex-start;
}

.article-detail__pre {
  font-size: 12px;
  margin-right: 8px;
}

.article-detail__amount {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  line-height: 100%;
}

.article-detail__symbol {
  font-size: 20px;
  margin-left: 8px;
  line-height: unset;
}

.article-detail__ask {
  margin-bottom: 16px;
}

.article-detail__phone {
  margin-bottom: 16px;
}

.article-detail__left {
  margin-right: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 730px;
}

.article-detail__nav,
.article-detail__block {
  padding: 24px;
  box-sizing: content-box;
  background: #fff;
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.article-detail__nav {
  margin-top: 24px;
}

.article-detail__figure {
  height: 100%;
  width: 677px;
  position: relative;
}

.article-detail__cover {
  width: 100%;
  max-width: 100%;
}

.article-detail__img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.article-detail__placeholder {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 730px;
  background: #d3a1df21;
  border-radius: 9px;
}

.article-detail__image {
  width: 376px;
}

.article-detail__form__actions {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-detail__views {
  font-size: 18px;
  display: flex;
  align-content: center;
}

.article-detail__views__icon {
  color: #f279b1;
}

.article-detail__views__count {
  margin-left: 8px;
  color: #f279b1;
  font-size: 12px;
  font-weight: 600;
}

.article-detail__favorites button:hover,
.article-detail__favorites button {
  font-size: 18px;
  background: unset;
}

.article-detail__bottom {
  margin-top: 40px;
  width: 730px;
}

.article-detail__subtitle {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}

.article-detail__subtitle:not(:first-child) {
  margin-top: 24px;
}

.card-block__social {
  display: flex;
}

.card-block__social-title {
  margin-right: 8px;
}

.tmb-wrap-table {
  display: flex !important;
  justify-content: space-between;
}

.tmb-wrap .tmb-wrap-table div {
  display: block;
  flex-grow: 1;
  border-bottom: 1px solid #0000001f;
  margin: 0 2px;
}

.tmb-wrap .tmb-wrap-table div.active {
  border-color: #3b9bff;
}

.article-detail__nav {
  padding: 0;
}

.article-detail__navigation {
  position: relative;
}

.article-detail__small {
  width: 100%;
}

.article-detail__nav {
  padding: 16px;
}

.article-detail__nav .article-detail__navigation {
  height: auto;
  box-sizing: border-box;
  width: 100%;
}

.article-detail__navigation .article-detail__thumb {
  height: 100%;
}

.article-detail__thumb .article-detail__slide {
  opacity: 0.4;
  width: calc(20% - 10px);
  border-radius: 11px;
  overflow: hidden;
}

.article-detail__small {
  width: 140%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-detail__thumb .swiper-slide-thumb-active {
  opacity: 1;
}

.article-detail__navigation-arrows {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  display: none;
}

.article-mobile__price {
  display: none;
}

@media (max-width: 1279px) {
  .article-detail__left {
    width: 100%;
  }

  .article-detail__cover .article-detail__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
    width: 100%;
  }

  .article-detail__figure {
    width: 100%;
  }

  .article-detail__img-wrap {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .article-detail__top {
    flex-direction: column;
  }

  .article-detail__cover .article-detail__img {
    height: 320px;
  }

  .article-detail__bottom {
    width: 100%;
    margin-top: 16px;
  }

  .article-detail__right {
    margin-top: 24px;
  }

  .article-detail__form {
    width: 100%;
  }

  .article-detail__nav {
    display: none;
  }

  .article-detail__cover .article-detail__img {
    height: 260px;
  }

  .article-detail__form .article-detail__ask,
  .article-detail__form .article-detail__phone {
    display: none;
  }

  .article-detail__tags .tags {
    margin-top: 16px;
  }

  .article-mobile__price {
    margin-top: 16px;
    display: block;
  }

  .article-mobile__amount {
    font-size: 24px;
  }

  .article-detail__price {
    display: none;
  }
}

.article__favorite {
  fill: none;
  cursor: pointer;
  stroke-width: 3px;
  stroke: #f279b1;
  height: 18px;
  width: 20px;
}

.article__favorite.filled {
  fill: #f279b1;
  stroke-width: 0;
  stroke: unset;
}

.ad_text {
  font-size: 14px;
  line-height: 18px;
}

.mobile-block {
  position: fixed;
  bottom: -100%;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: bottom 200ms ease 0s;
  box-shadow: 0 -40px 60px 0 rgba(37, 59, 112, 0.1);
}

.mobile-block__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background: #fff;
  border-radius: 6px;
}

@media (max-width: 767px) {
  .article-detail {
    padding-bottom: 77px;
  }

  .mobile-block {
    bottom: 70px;
  }
}

.article-author {
  display: flex;
  flex-wrap: wrap;
  background: #f2f2f2;
  align-items: flex-start;
  border-radius: 10px;
  padding: 16px;
}

.article-author__ava {
  width: 55px;
}

.article-author__name {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 16px;
}

.article-author__created {
  color: #8a8a8a;
  line-height: 12px;
}

.article-author__ads {
  color: #8a8a8a;
}

.article-author__img {
  width: 100%;
  border-radius: 100px;
  border: 4px solid #f2f2f2;
}

.article-author__info {
  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
}

.info-icon-block {
  background: #DDE1E8;
  border-radius: 15px;
  color: #282B31;
  height: 50px;
}

.info-icon-block__icon {
  color: #282B31;
}

.ask-question {
  background: #0ec645;
  height: 47px;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 12px;
  color: #18191f;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
  justify-content: center;
  margin-bottom: 16px;
}

.ask-question.gray {
  background: #f6f6f6;
  color: #2e2e33;
  text-transform: none;
  font-weight: 700;
}

.ask-question.gray i {
  color: #2e2e33;
}

.ask-question.green {
  background: #f24343;
}

.ask-question.light {
  background: #ffd5ad;
}

.ask-question.light i,
.ask-question.light span {
  color: #9c0757;
}

.ask-question.dark {
  background: #e09392;
}

.ask-question.dark i,
.ask-question.dark span {
  color: #ffd5ad;
}

.ask-question:hover {
  box-shadow: 0 4px 8px rgba(254, 170, 89, 0.6);
  background: #f2b604;
  color: #fff;
}

.ask-question i {
  margin-right: 8px;
  color: #231F20;
  font-size: 15px;
}

.ad__ask {
  color: #2e2e33;
  font-weight: 900;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  background: rgba(66, 79, 89, 0.8);
  z-index: 9996;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  transition: all 0.6s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal.open .modal__main {
  transform: translate(0px, 0px);
  opacity: 1;
}

.modal.modal_response .modal__main {
  transform: translate(0px, -100%);
  opacity: 0;
}

.modal__container {
  padding: 40px 48px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(120, 160, 190, 0.3);
  border-radius: 10px;
  text-align: center;
  position: relative;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.modal__success {
  position: absolute;
  opacity: 0;
}

.modal.open.modal_response .modal__success {
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 18px;
  height: 18px;
  fill: #1D2F3C;
  cursor: pointer;
  opacity: 0.54;
}

.modal__title {
  margin: 0 0 24px 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #1D2F3C;
}

.modal_small {
  width: 480px;
}

@media (max-width: 767px) {
  .modal_small {
    width: 100%;
  }

  .modal__title {
    font-size: 32px;
    line-height: 38px;
  }
}

.select2 {
  display: block;
  width: 100% !important;
}

.js_error.show {
  display: block;
}

.js_error {
  display: none;
}

.onError + .js_error {
  display: block;
  text-align: left;
}

.reg-form__social {
  margin-top: 16px;
}

.reg-form__row {
  display: flex;
  justify-content: space-between;
}

.js_formError {
  display: none;
}

.js_formError.show {
  display: block;
}

.form-error .form-error__close {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000;
}

.form__label {
  font-weight: 600;
  font-size: 10px;
  color: #6e7d97;
  margin-bottom: 4px;
}

.form__input {
  border: 1px solid #ebecf3;
  border-radius: 5px;
  height: 41px;
  width: 100%;
  padding: 0 16px;
}

.reg-form {
  width: 766px;
  display: flex;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
}

.reg-form__left {
  flex-grow: 1;
  display: flex;
  width: 50%;
  background: #82c831;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
}

.reg-form__figure {
  width: 84%;
}

.reg-form__right {
  flex-shrink: 0;
  width: 50%;
  padding: 80px 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.reg-form__sub {
  text-transform: uppercase;
  font-size: 10px;
  color: #b1b2b9;
  font-weight: 600;
  letter-spacing: 1px;
}

.reg-form__title {
  font-size: 36px;
  font-weight: 700;
  color: #344055;
  margin-bottom: 8px;
}

.reg-form__login {
  color: #b1b2b9;
  font-size: 14px;
}

.reg-form__login_link,
.reg-form__register_link {
  font-weight: 900;
}

.reg-form__register_link {
  font-size: 12px;
  text-align: right;
}

.reg-form_form {
  margin-top: 32px;
}

.reg-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.reg-form__subtitle {
  color: #b1b2b9;
  text-align: center;
  margin: 0px 0 8px 0;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  z-index: 99999;
  background: #fff;
}

.login-form {
  width: 450px;
  display: flex;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
  padding: 80px 40px 24px;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

@media (max-width: 767px) {
  .reg-form__left {
    display: none;
  }

  .reg-form {
    width: 100%;
  }

  .reg-form__right {
    width: 100%;
  }

  .reg-form__title {
    font-size: 24px;
  }

  .reg-form__sub {
    font-size: 8px;
  }

  div.form-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .form-group__inputs .btn-block,
  .form-group__single button,
  .form-group__single .half,
  .form-group label.form-group__placeholder,
  .form-group div.form-group__inputs {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
  }

  .form-group label.form-group__placeholder {
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;
  }

  div.form-group__single {
    margin-left: 0;
  }
}

/*=============Стили конкретных форм==================*/

.ads-del__thanks {
  max-width: 420px;
}

.article-features {
  display: flex;
  flex-direction: column;
}

.article-features__row {
  display: flex;
  margin-bottom: 8px;
}

.article-features__name {
  font-weight: 600;
}

.article-feature__dote {
  border-bottom: 1px dashed #D7DBDE;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .article-features__row {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .article-feature__dote {
    display: none;
  }

  .article-features__name {
    margin-bottom: 4px;
  }
}

.tags {
  display: flex;
  margin-top: 24px;
  align-content: center;
}

.tags__title {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.tags__item {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
  color: #54545a;
  background-color: #f6f6f6;
  border-radius: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-block {
  display: flex;
  flex-direction: column;
}

.card-block__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f6f6f6;
  margin-top: 24px;
  padding-top: 16px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.ui-card {
  padding: 24px;
  box-sizing: content-box;
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ui-card_no-radius {
  border-radius: 0px;
}

.arrow-big {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 24px;
  height: 40px;
  width: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(120, 160, 190, 0.3));
          filter: drop-shadow(0px 4px 15px rgba(120, 160, 190, 0.3));
  transition: all 0.2s ease;
}

.arrow-big.arrow__right:hover {
  transform: translateX(-5px);
}

.arrow-big.arrow__left:hover {
  transform: translateX(5px);
}

.arrow-big.arrow__left {
  top: 50%;
  right: 16px;
}

.arrow-big.arrow__right {
  top: 50%;
  left: 16px;
}

.arrow__right .arrow-big__direct {
  transform: rotate(180deg);
}

.arrow-big__direct {
  fill: #82c831;
  width: 24px;
  height: 24px;
}

@media (max-width: 767px) {
  .arrow-big.arrow__right,
  .arrow-big.arrow__left {
    display: none;
  }
}

.profile-content {
  display: flex;
  margin-top: 40px;
}

.profile-content__sidebar {
  flex: 0 0 25%;
  margin-right: 24px;
}

.profile-content__body {
  flex: 0 0 75%;
}

.ava {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.ava .ava__block {
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
  background: #fff;
  padding: 24px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.ava .ava__block .ava__img {
  width: 100%;
  border-radius: 7px;
}

.ava .ava__name {
  font-weight: 500;
  font-size: 14px;
  margin-top: 16px;
  width: 100%;
  border-radius: 9px;
  color: #000;
}

.personal .personal_ul .personal_a {
  font-size: 16px;
  color: #252533;
}

.ui-block__title {
  margin: 16px 0;
}

.ui-block__menu {
  list-style-type: none;
  padding: 0;
}

.ui-menu__li {
  transition: background-color 0.4s ease-in;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  background: #fff;
  margin: 8px 0;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 63px;
  position: relative;
  border-left: 4px solid #82C831;
}

.ui-menu__li:hover .ui-menu__text {
  color: #9e9e9e;
}

.ui-block__menu .ui-menu__li svg {
  fill: #9fb2c5;
}

.ui-menu__text {
  margin-left: 8px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.ui-menu__accent {
  background: #82C831;
}

.ui-menu__accent svg.i-svg {
  fill: #fff;
}

.ui-menu__accent .ui-menu__text {
  font-weight: 600;
  color: #ffffff;
}

.ui-menu__accent:hover {
  background: #82c831bd;
}

.ui-menu__accent:hover .ui-menu__text {
  color: #ffe;
}

@media (max-width: 767px) {
  .profile-content {
    flex-direction: column;
  }

  .profile-content__sidebar {
    display: none;
  }

  .profile-content__body {
    flex: 0 0 100%;
  }
}

.profile-adverts__lines {
  margin-top: 24px;
}

.profile-adverts__markup {
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border-radius: 9px;
  display: flex;
  margin-bottom: 24px;
  padding: 16px;
}

.profile-markup__img {
  width: 132px;
}

.profile-markup__title {
  width: 186px;
}

.profile-markup__created,
.profile-markup__updated {
  width: 100px;
  font-size: 12px;
}

.profile-markup__favorites,
.profile-markup__actions {
  flex-grow: 1;
  text-align: right;
}

.profile-markup__views {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.profile-adverts__favorites,
.profile-adverts__actions {
  text-align: right;
}

.profile-adverts__item {
  font-size: 12px;
}

.profile-markup__actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .profile-markup__created,
  .profile-markup__updated,
  .profile-markup__favorites,
  .profile-markup__views {
    display: none;
  }

  .profile-markup__title {
    flex-grow: 1;
  }
}

.profile-adverts__block {
  display: none;
}

.profile-adverts__block.active {
  display: block;
}

.advert-line__figure {
  width: 100px;
  margin-right: 16px;
}

.advert-line__img {
  width: 100px;
}

.advert-line__main {
  width: 210px;
  padding-left: 24px;
}

.advert-line__category {
  font-size: 12px;
}

.advert-line__views {
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.advert-line__views__inner {
  display: flex;
  align-items: center;
}

.advert-line__watches {
  font-weight: 500;
  font-size: 14px;
  margin-right: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #989898;
}

.advert-line__today {
  font-weight: 600;
  color: #3699ff;
  font-size: 14px;
}

.advert-line__favorites {
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.advert-line__title {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 8px;
}

.advert-line__created,
.advert-line__updated {
  font-size: 12px;
  margin: 0 16px;
}

.profile-markup__actions {
  position: relative;
  text-align: right;
}

.profile-markup__actions .svg_menu {
  fill: #8a8a8a;
  cursor: pointer;
}

.profile-markup__actions:hover .svg_menu {
  fill: #04f2c6;
}

.profile-markup__actions a {
  font-size: 12px;
}

.profile-markup__actions .btn {
  padding: 0;
  font-size: 12px;
}

.advert-line__choose {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-small {
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.btn-big {
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  padding: 18px 46px;
  border-radius: 193px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-middle-round {
  font-size: 14px;
  line-height: 23px;
  border-radius: 37px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 23px;
  justify-content: center;
  cursor: pointer;
  font-weight: 900;
}

.btn-middle {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
  justify-content: center;
  cursor: pointer;
}

.btn-square {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn-main {
  background: #D3A1DF;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-main span {
  color: #FFFFFF;
}

.btn-main svg {
  fill: #FFFFFF;
}

.btn-secondary {
  border: 2px solid #D3A1DF;
  color: #231F20;
  cursor: pointer;
}

.btn-secondary span {
  color: #231F20;
}

.btn-secondary svg {
  fill: #231F20;
}

.btn-grey {
  background: #f6f6f6;
  color: #2e2e33;
}

.btn-grey span {
  color: #2e2e33;
}

.btn-grey svg {
  margin-right: 6px;
  fill: #2e2e33;
}

.btn-red {
  background: #ea806f;
  color: #fff;
  border: 2px solid #ea806f;
}

.btn-red span {
  color: #fff;
}

.btn-red:hover {
  color: #fff;
}

.btn-red svg {
  margin-right: 6px;
  fill: #ea806f;
}

.btn-icon {
  background: #ecefef;
}

.btn-icon svg {
  fill: #313a46;
}

.wide {
  width: 100%;
}

.half {
  width: 50%;
}

.btn-unset:hover,
.btn-unset {
  background: unset;
}

.notification {
  background: #FFFFFF;
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  border: none;
  border-radius: 9px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.notification__content {
  display: flex;
  width: 100%;
}

.notification__date {
  font-size: 14px;
  font-weight: 900;
}

.notification__meta {
  font-weight: 600;
}

.notification__ads {
  font-weight: 900;
  font-size: 16px;
  margin-top: 8px;
}

.notification__admin {
  margin-top: 9px;
  font-weight: 900;
  font-size: 12px;
  color: #4456;
  border-bottom: 1px solid #44445517;
  margin-bottom: 8px;
}

.notification__status_bad {
  color: #9c3328;
}

.notification__status_good {
  color: #82C831;
}

.notification__rules {
  margin-top: 8px;
  padding-left: 0;
}

.notification__read__all {
  margin-top: 24px;
  display: inline-flex;
}

.notification__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.notification__action a {
  margin-top: 0;
}

.notification__info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.notification__message {
  width: 100%;
}

.notification__figure {
  margin-right: 24px;
}

.notification__img {
  width: 81px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.notification__link-edit {
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
}

.notification__count {
  margin-bottom: 16px;
  font-weight: 900;
}

.preloader {
  display: none;
}

.preloader.open {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #00000017;
  z-index: 1001;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__image {
  width: 70px;
  height: 70px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.js_ajaxPreloader.loading {
  position: relative;
}

.lds-ellipsis__wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0 3px 28px #f7f7f7;
  z-index: 9999;
  overflow: hidden;
  background: #ffffffb8;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 5%;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #82C831;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.preloader_central .lds-ellipsis__wrap {
  align-items: center;
}

.preloader_central .lds-ellipsis {
  top: unset;
}

.preloader_no_shadow .lds-ellipsis__wrap {
  box-shadow: unset;
}

.blink .comment-item__link {
  -webkit-animation: blink 8s infinite;
          animation: blink 8s infinite;
}

@-webkit-keyframes blink {
  0% {
    background: #f5f6f7;
  }

  50% {
    background: #82C831;
  }

  100% {
    background: #f5f6f7;
  }
}

@keyframes blink {
  0% {
    background: #f5f6f7;
  }

  50% {
    background: #82C831;
  }

  100% {
    background: #f5f6f7;
  }
}

/* region Vue transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.slide-left-fade-enter {
  transform: translateX(-100%);
}

.slide-left-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-left-fade-leave-active {
  transition: all 0.3s ease;
  transform: translateX(-100%);
}

.ui-tabs__head {
  display: flex;
  gap: 8px;
}

.ui-tabs__content {
  position: relative;
  margin-top: 40px;
}

.ui-tabs__content-item:not(.active) {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 100%;
}

.ui-tabs__content-item.active {
  transition: opacity ease-in-out 0.5s;
  opacity: 1;
}

.ui-tabs__content-item.active:not(.not_empty) {
  box-shadow: 0 40px 60px 0 rgba(37, 59, 112, 0.1);
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.ui-tabs__head-item {
  cursor: pointer;
}

.ui-tabs__tab {
  color: #3699ff;
}

.ui-tabs__head-item .ui-tabs__tab:hover,
.ui-tabs__head-item.active .ui-tabs__tab {
  color: #fff;
}

.ui-tabs__head-item.active {
  background: #d3a1df;
  color: #fff;
}

@media (max-width: 767px) {
  .ui-tabs {
    margin-top: 8px;
  }

  .ui-tabs__head {
    flex-direction: column;
  }

  .ui-tabs__head-item {
    width: 100%;
  }
}

.toggle-block {
  width: 100%;
  position: relative;
}

.toggle-block__content {
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.toggle-block.js_toggleOpen .toggle-block__content {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: delay-overflow;
          animation-name: delay-overflow;
}

.toggle-block.js_toggleOpen .toggle-block__svg {
  transform: rotate(180deg);
}

.toggle-block.js_toggleClose .toggle-block__gradient {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg, #FFFFFF 39.02%, rgba(255, 255, 255, 0) 100%);
}

.toggle-block.js_toggleOpen .toggle-block__gradient {
  display: none;
}

.toggle-block__btn {
  display: flex;
  align-items: center;
  color: #82C831;
  margin-top: 16px;
  cursor: pointer;
  position: relative;
}

.toggle-block__text {
  font-weight: 600;
  font-size: 12px;
  color: #82C831;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.toggle-block__svg {
  width: 24px;
  height: 24px;
  fill: #82C831;
}

.pagination .pagination__li .pagination__not-active {
  background-color: #F0F0F0 !important;
}

.pagination__not-active svg {
  fill: #D7DBDE;
}

.pagination__active svg {
  fill: #82C831;
}

.pagination {
  display: flex;
  margin-bottom: 16px;
}

.page-item {
  height: 12px;
}

.page-item:not(:last-child):not(:first-child) {
  margin-right: 16px;
}

.page-item.active span {
  background: #D3A1DF;
  padding: 4px 8px;
  color: #fff;
  border-radius: 4px;
}

.page-item:first-child {
  margin-right: 16px;
}

.form-cell {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 24px;
  width: 100%;
  vertical-align: top;
  transition: margin-bottom, 0.3s;
}

.form-cell.onFocus .form-cell__textarea,
.form-cell.filled .form-cell__textarea {
  border: 1px solid #3699ff;
}

.form-cell .form-cell__textarea {
  background: unset;
  outline: none;
  box-sizing: border-box;
  border: unset;
  padding: 16px 32px 0 16px;
  border: 1px solid #e1f0ff;
  border-radius: 8px;
}

.form-cell .form-cell__input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D7DBDE;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-appearance: none;
  height: 48px;
  padding-left: 16px;
  padding-right: 24px;
}

.form-cell .form-cell__placeholder {
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 15px;
  transition: 0.2s ease all;
  background-color: #fff;
  line-height: 19px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #6A747B;
  padding: 0 3px;
}

.form-cell.filled .form-cell__placeholder,
.form-cell.onFocus .form-cell__placeholder {
  top: -8px;
  left: 16px !important;
  border-radius: 8px;
  color: #d3a1df;
}

.form-cell .form-cell__cleaner {
  display: none;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.54;
}

.form-cell.filled .form-cell__cleaner {
  display: block;
}

.form-cell .js_error {
  text-align: left;
  font-size: 12px;
  margin-top: 4px;
}

.form-cell.onError .js_error {
  display: block;
}

.reg-form__group input.is-invalid,
.form-group.onError .form-group__textarea,
.form-group.onError .form-group__input {
  border: 1px solid #ed9687;
}

.reg-form__group .invalid-feedback,
.form-group.onError .invalid-feedback {
  color: #ed9687;
  display: block;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.form-group__placeholder {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  text-align: right;
}

.form-group__placeholder + .form-group__inputs {
  flex: 0 0 50%;
  max-width: 50%;
}

.form-group__inputs {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.form-group__input {
  border: 1px solid #ebecf3;
  border-radius: 5px;
  height: 41px;
  width: 100%;
  padding: 0 16px;
}

.form-group__select {
  border: 1px solid #ebecf3;
  border-radius: 5px;
  height: 41px;
  width: 100%;
  padding: 0 16px;
}

.form-group__single {
  margin-left: calc(100% / 3);
  padding-left: 16px;
}

.form-group__small {
  font-size: 12px;
}

.form-group__textarea {
  border: 1px solid #ebecf3;
  border-radius: 5px;
  min-height: 60px;
  width: 100%;
  padding: 12px 16px;
}

.form-group__textarea:focus-visible,
.form-group__textarea:active,
.form-group__textarea:focus,
.form-group__input:active,
.form-group__input:focus {
  outline: unset;
}

span.invalid-feedback {
  font-size: 11px;
  display: none;
  color: #f24343;
  margin-top: 4px;
}

.form-group.onError .form-group__select,
.form-group.onError .form-group__input {
  border: 1px solid #e75a5a;
}

.form-group__hint {
  color: #9d9d9d;
  margin-top: 8px;
  display: block;
  font-size: 10px;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.sidebar__ul {
  list-style-type: none;
  padding-left: 0;
}

.d-menu__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-menu__toggle:hover {
  background: #f9f9f9;
}

.d-menu__arrow {
  transition: all 0.3s ease;
  position: relative;
  font-size: 10px;
  color: #949494;
  background: #e9ecef;
  padding: 4px 6px;
  border-radius: 4px;
}

.menu_isOpen .d-menu__arrow {
  transform: rotate(90deg);
}

.d-menu__content {
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
}

.d-menu.menu_isOpen .d-menu__content {
  max-height: 600px;
  height: auto;
  opacity: 1;
  background: #f9f9f9;
}

.d-menu__title {
  font-size: 13px;
  font-weight: 600;
  color: #5e5e5e;
}

.sul-link.d-menu.menu_isOpen {
  background: #f9f9f9;
}

.category-menu .menu {
  display: flex;
  align-items: center;
}

.main-menu .menu__li,
.category-menu .menu__li {
  display: flex;
  align-items: inherit;
  position: relative;
}

.category-menu .menu__li:not(:first-child) {
  margin-left: 24px;
}

.main-menu .menu__link,
.category-menu .menu__link {
  display: inherit;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 24px 0;
  cursor: pointer;
  letter-spacing: 0.8px;
  position: relative;
}

.menu__sub {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -100%;
}

.menu__parent .menu__sub.show {
  visibility: visible;
  opacity: 1;
  top: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 100%;
  z-index: 9;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  padding: 24px;
}

.menu__sub .menu {
  flex-direction: column;
  align-items: self-start;
}

.menu__sub .menu .menu__li {
  margin-left: 0;
  width: 100%;
}

.menu__sub .menu .menu__link {
  padding: 12px 0px;
  width: 100%;
}

.menu_svg {
  width: 24px;
  height: 24px;
  fill: #afafaf;
}

.main-menu .menu {
  display: flex;
}

.main-menu li:not(:last-child) {
  margin-right: 16px;
}

.main-menu .menu__link {
  display: inherit;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding: 12px 0;
  letter-spacing: 0.8px;
  position: relative;
}

.menu__sub .menu__li:first-child .menu__link {
  padding-top: 0;
}

.main-menu .menu__parent .menu__sub.show {
  right: 0;
}

.hero {
  margin-top: 40px;
  margin-bottom: 64px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.hero__content:before {
  content: "";
  background-image: url("/images/hero/hero_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}

.hero__body {
  max-width: 549px;
}

.hero__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 68px;
  color: #231F20;
  margin-bottom: 16px;
}

.hero__desc {
  max-width: 505px;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 32px;
}

.hero__actions {
  display: flex;
}

.hero__buy {
  margin-right: 24px;
}

.hero__banner_mob {
  display: none;
}

@media (max-width: 767px) {
  .hero__inner {
    flex-direction: column;
  }

  .hero__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }

  .hero__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .hero__actions {
    flex-direction: column;
  }

  .hero__actions a {
    width: 100%;
  }

  .hero__actions a:first-child {
    margin-bottom: 16px;
  }

  .hero__banner {
    margin-top: 32px;
    border-radius: 16px;
    overflow: hidden;
  }

  .hero__banner_desc {
    display: none;
  }

  .hero__banner_mob {
    display: block;
  }

  .hero__banner .hero__banner_mob {
    height: 120px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.section__collections {
  min-width: 0;
  overflow: hidden;
  margin: 0 auto;
}

.collection {
  max-width: 1200px;
  margin: 0 auto;
}

.collection .collection__slide {
  height: 100%;
  width: 320px;
}

.collection__link {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

.collection__title {
  position: absolute;
  bottom: 20px;
  border-radius: 8px;
  left: 20px;
  padding: 12px 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
}

.collection__img {
  max-height: 200px;
}

.section {
  margin-bottom: 64px;
}

.section__title {
  margin-bottom: 32px;
}

.section__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 16px;
}

.section__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.categories-block__wrap {
  display: flex;
  flex-wrap: wrap;
}

.categories-block__item {
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: calc(100% / 6 - 24px);
  margin-right: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-block__item:nth-child(6n+6) {
  margin-right: 0;
}

.categories-block__img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.categories-block__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #231F20;
}

@media (max-width: 767px) {
  .categories-block__item {
    width: calc(100% / 3 - 16px);
    margin-right: 16px;
  }

  .categories-block__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
  }

  .section__name {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }
}

.breadcrumb__ul {
  display: flex;
}

.breadcrumb_slash {
  margin: 0 4px;
}

.admin.breadcrumb .breadcrumb__item,
.admin.breadcrumb .breadcrumb_slash,
.admin.breadcrumb .breadcrumb__link {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #8391a2;
  letter-spacing: 1.2px;
}

.breadcrumb {
  display: flex;
  margin-bottom: 16px;
}

.breadcrumb-item a,
.breadcrumb-item {
  color: #3f4254;
  font-size: 12px;
  font-weight: 900;
}

.breadcrumb-arrow {
  transform: rotate(270deg);
  width: 14px;
  height: 14px;
  fill: #d3a1df;
  margin: 0 4px;
}

.cart-errors {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  background: #f8d7da;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  border-color: #f5c6cb;
  border-left: 4px solid #f39ea6;
}

.cart-errors__li {
  font-size: 14px;
  color: #313a46;
  font-weight: 400;
  margin-bottom: 4px;
}

li.cart-errors__li::marker {
  color: red;
  font-size: 1.5em;
}

.front .cart-errors {
  width: auto;
}

.error-block {
  padding: 20px;
  background-color: #ea806f;
  color: white;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 6px;
}

.error-block_half-form {
  width: 450px;
  margin: 0 auto;
}

.error-block__ul {
  padding-left: 20px;
  list-style-type: disc;
}

.error-block__li {
  color: white;
  font-size: 14px;
}

.error-block__li:not(:last-child) {
  margin-bottom: 8px;
}

.profile-adverts__switch {
  display: flex;
}

.profile-adverts__link {
  margin-right: 8px;
}

.profile-adverts__link.active {
  background: #d3a1df;
  color: #fff;
}

.profile-adverts__switch.group .profile-adverts__link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.profile-adverts__switch.group .profile-adverts__link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile-adverts__switch.group .profile-adverts__link {
  border-radius: unset;
}

.profile-adverts__switch.group .profile-adverts__link {
  margin-right: 0;
}

@media (max-width: 767px) {
  .profile-adverts__switch {
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }

  .profile-adverts__link {
    width: 100%;
  }
}

.app__footer.footer {
  margin-top: 80px;
  padding: 16px 0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
}

.footer__row {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.footer__hint {
  font-size: 11px;
  color: #7A858D;
  padding: 4px 0;
}

.footer__value {
  font-weight: 900;
}

@media (max-width: 1279px) {
  .app__footer.footer {
    padding: 16px;
  }
}

@media (max-width: 767px) {
  .app__footer {
    display: none;
  }
}

.select2 {
  display: block;
  width: 100% !important;
}

.select2 .select2-selection__choice {
  background-color: #25eba2 !important;
  color: #fff;
}

.select2 .select2-selection__choice span {
  color: #fff !important;
}

.tab-content .tab-pane.active {
  background: #f8fafc;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 16px 0 0 16px;
}

.filters-group__content .filters-group__item {
  display: flex;
  align-items: center;
}

.filters-group__content .filters-group__item .filters-group__label {
  margin-bottom: 0;
  margin-left: 8px;
}

.block-title {
  margin-bottom: 24px;
}

.block-title .block-title__main {
  font-weight: 600;
  font-size: 18px;
}

.block-title .block-title__sub {
  color: #b5b5c3;
}

.block-title .block-title__bb {
  border-bottom: 1px solid #eee;
  margin-top: 16px;
}

.info-badge {
  border-radius: 5px;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 11px;
  transition: all 0.15s ease;
}

.info-badge.blue {
  color: #3699ff;
  background-color: #e1f0ff;
}

.info-badge.blue:hover {
  color: #fff;
  background-color: #3699ff;
}

.info-small {
  background: #f00;
  color: #ffffff;
  border-radius: 100px;
  width: 15px;
  font-size: 9px;
  height: 15px;
  display: flex;
  justify-content: center;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results__figure {
  margin-bottom: 16px;
}

.no-results__icon {
  width: 56px;
  height: 56px;
}

.no-results__title {
  color: #6A747B;
  font-size: 16px;
  line-height: 23px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}

.scrollbar:hover::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d3a1df;
  opacity: 0.5;
}

.app__main {
  min-height: 100vh;
}

